ZHIPU_API_KEY=
GLM_IMAGE_TO_CODE_MODEL=zai/glm-4.6v
GLM_IMAGE_TO_CODE_AGENT_PORT=8093
GLM_IMAGE_TO_CODE_AGENT_DATA_DIR=.data/glm-image-to-code
GLM_IMAGE_TO_CODE_AGENT_API_TOKEN=
GLM_IMAGE_TO_CODE_AGENT_PUBLIC_BASE_URL=
GLM_IMAGE_TO_CODE_AGENT_CALLBACK_KEY_BASE64=
GLM_IMAGE_TO_CODE_AGENT_CALLBACK_KEY_VERSION=glm-image-to-code-callback-v1
